<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤더 -->
<head th:replace="inc/header.html :: headerFrag" />
<body>
<div th:replace="inc/header.html :: header ('map')"/>
<!-- 컨텐츠 -->

<!-- 검색 목록 지도 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=53e4981e6bc99b836ba4b8392ae6166c&libraries=services"></script>

<div class="container">
    <br>
<h4 style="text-align: center;"><img src="/images/star.png" alt="★">전국 맛집 지도<img src="/images/star.png" alt="★"></h4>
    <br>
    <p style="text-align: center;" ><img src="/images/Cat.png" width="70px" alt="cat"></p>
<div class="map_wrap">

    <div id="map" style="width:1200px; margin:0 auto; height:500px;position:relative;overflow:hidden; border-radius: 20px;"></div>
    <div id="menu_wrap" class="bg_white">
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>
</div>

    <script src="/js/map.js"></script>
<script>
    // 지도가 이동, 확대, 축소로 인해 중심좌표가 변경되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'center_changed', function() {


        // 지도의  레벨을 얻어옵니다
        var level = map.getLevel();

        // 지도의 중심좌표를 얻어옵니다
        var latlng = map.getCenter();

        console.log(latlng.getLat());
        console.log(latlng.getLng());

        window.mapCenter = { lat: latlng.getLat, lng: latlng.getLng };
    });
</script>
<!-- 푸터 -->
<th:block th:replace="/inc/footer :: footerFrag"></th:block>
</div>

</body>
</html>